.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/TestResults
**/coverage

frontend
tests
database
docs
seed
Template
Template_UI

**/node_modules
**/dist
**/.angular

*.user
*.suo
*.userosscache
*.sln.docstates
*.docx

.env
.env.*
!.env.example
appsettings.*.local.json
secrets.json
