@import "tailwindcss";
@import "./_tokens.css";
@import "./_typography.css";
@import "./_utilities.css";

html {
  color-scheme: dark;
  background: var(--color-background);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-background);
}
